# Copier ce fichier en ../.env et remplir les valeurs réelles

# AWS S3
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=eu-west-3
AWS_S3_BUCKET=sportdatasolution-469345420249-eu-west-3-an

# PostgreSQL
PG_USER=postgres
PG_PASSWORD=your_pg_password
DATABASE_URL=postgresql://postgres:your_pg_password@192.168.1.177:5432/SportDataSolution

# Google Maps
GMAPS_API_KEY=your_google_maps_api_key

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ

# Redpanda/Kafka
# Laisser 127.0.0.1:9092 si network_mode=host (Linux)
REDPANDA_BROKER=127.0.0.1:9092
